http:
  routers:
    prometheus-dev-auth:
      rule: Host(`prometheus.dev`) && PathPrefix(`/api/auth`)
      entryPoints:
        - websecure
      service: prometheus-dev-api
      tls: {}
      priority: 20
    prometheus-dev-web:
      rule: Host(`prometheus.dev`)
      entryPoints:
        - websecure
      service: prometheus-dev-web
      tls: {}
      priority: 1
    prometheus-dev-api:
      rule: Host(`prometheus.dev`) && PathPrefix(`/api`)
      entryPoints:
        - websecure
      service: prometheus-dev-api
      middlewares:
        - prometheus-dev-api-strip
      tls: {}
      priority: 10
  services:
    prometheus-dev-web:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:4173
    prometheus-dev-api:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:4000
  middlewares:
    prometheus-dev-api-strip:
      stripPrefix:
        prefixes:
          - /api
tls:
  certificates:
    - certFile: /etc/traefik/certs/prometheus.dev+prometheus.prod.pem
      keyFile: /etc/traefik/certs/prometheus.dev+prometheus.prod.key
