node_modules
.cache
.env
.env.*
!.env.example
.DS_Store
*.log
coverage
.vscode
.idea
dist
build
apps/api/.elysia
apps/web/server/*
apps/web/public/~partytown/*
apps/web/test-results/*
apps/web/.cache/*
lighthouse*
CUserscolliAppDataLocallighthouse*
a.out
apps/web/server/
apps/web/server/@qwik-city-not-found-paths.js
apps/web/server/@qwik-city-static-paths.js
apps/web/server/entry.preview.js
infra/traefik/certs/
apps/web/public/models/*
Trace-*
infra/caddy/Caddyfile
