@import "tailwindcss";
@import "gridstack/dist/gridstack.min.css";
@import "./styles/base.css";
@import "./styles/utilities.css";
@import "./styles/components/motion.css";
@import "./styles/components/shell.css";
@import "./styles/components/dock.css";
@import "./styles/components/skeleton.css";
@import "./styles/components/fragments.css";
@import "./styles/components/demos.css";
