.route-transition {
  view-transition-name: route;
  contain: paint;
}

.app-frame {
  --swup-duration: 250ms;
  --swup-ease: cubic-bezier(0.77, 0, 0.175, 1);
  --swup-offset: 1em;
}

.swup-stack {
  display: grid;
  grid-template-areas: 'main';
  overflow-x: clip;
}

.swup-stack > #swup {
  grid-area: main;
  width: 100%;
}

.transition-main {
  transition-property: opacity, transform;
  transition-duration: var(--swup-duration);
  transition-timing-function: var(--swup-ease);
  transform: translateX(0);
  opacity: 1;
  will-change: transform, opacity;
}

.is-changing .transition-main {
  transition-property: opacity, transform;
}

.transition-main.is-previous-container {
  transform: translateX(calc(-1 * var(--swup-offset)));
  opacity: 0;
  pointer-events: none;
}

.transition-main.is-next-container {
  transform: translateX(var(--swup-offset));
  opacity: 0;
}

:root[data-vt-direction='right'] .transition-main.is-previous-container {
  transform: translateX(var(--swup-offset));
}

:root[data-vt-direction='right'] .transition-main.is-next-container {
  transform: translateX(calc(-1 * var(--swup-offset)));
}

@media (prefers-reduced-motion: reduce) {
  .is-changing .transition-main {
    transition: none;
  }

  .transition-main.is-previous-container,
  .transition-main.is-next-container {
    transform: none;
    opacity: 1;
  }
}
